
.audio_action{
	animation: audio_action 0.3s ease-out infinite alternate;
	transform-origin: 0 100%;}
@keyframes act_audio{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
@keyframes act_jumping{
	0%{transform: translate(0,0) scale(0.2); opacity: 0;z-index: -1;}
	15%{transform: translate(0,0) scale(0.3); opacity: 1;z-index: 10;}
	30%{transform: translate(10px,-60px) scale(0.3); opacity: 1;z-index: 10;}
	45%{transform: translate(20px,0) scale(0.6); opacity: 1;z-index: 10;}
	60%{transform: translate(30px,-40px) scale(0.6); opacity: 1;z-index: 10;}
	75%{transform: translate(40px,0) scale(0.8); opacity: 1;z-index: 10;}
	90%{transform: translate(50px,-20px) scale(0.8); opacity: 1;z-index: 10;}
	100%{transform: translate(60px,0) scale(1); opacity: 1;z-index: 10;}
}
@keyframes inital_universe{
	0%{transform: translate3d(0px, 0px, 500px) rotateY(0deg);}
	100%{transform: translate3d(0px, 0px, 500px) rotateY(360deg);}
}
@keyframes inital_can{
	0%{transform: rotateY(0deg);}
	100%{transform: rotateY(360deg);}
}
@keyframes inital_trojan{
	0%{transform: scale(0.5) rotateY(0deg);}
	100%{transform: scale(0.5) rotateY(360deg);}
}
@-webkit-keyframes act_bilibili_loading {	
	0%{background-position: 0;}
	6.25%{background-position: -80px 0;}
	12.5%{background-position: -160px 0;}
	18.75%{background-position: -240px 0;}
	25%{background-position: -320px 0;}
	31.25%{background-position: -400px 0;}
	37.5%{background-position: -480px 0;}
	43.75%{background-position: -560px 0;}
	50%{background-position: -640px 0;}
	56.25%{background-position: -720px 0;}
	62.5%{background-position: -800px 0;}
	68.75%{background-position: -880px 0;}
	75%{background-position: -960px 0;}
	81.25%{background-position: -1040px 0;}
	87.5%{background-position: -1120px 0;}
	93.75%{background-position: -1200px 0;}
	100%{background-position: -1280px 0;}
}
@-webkit-keyframes ai{
	0%{-webkit-transform: rotateX(0deg) rotateY(0deg);}
	100%{-webkit-transform: rotateX(360deg) rotateY(360deg);}
}
@-moz-keyframes ai{
	0%{-moz-transform: rotateX(0deg) rotateY(0deg);}
	100%{-moz-transform: rotateX(360deg) rotateY(360deg);}
}
@-ms-keyframes ai{
	0%{-ms-transform: rotateX(0deg) rotateY(0deg);}
	100%{-ms-transform: rotateX(360deg) rotateY(360deg);}
}
@keyframes ai{
	0%{transform: rotateX(0deg) rotateY(0deg);}
	100%{transform: rotateX(360deg) rotateY(360deg);}
}



















