/*3dloading*/
.tdloading{position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 9999;background: #333333;}
.tdloading .cont{position: absolute;width: 60px;height: 60px;top: 40%;left: 50%;transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;}
.tdloading .cont:nth-child(1){margin-left: -330px;}
.tdloading .cont:nth-child(2){margin-left: -230px;}
.tdloading .cont:nth-child(3){margin-left: -130px;}
.tdloading .cont:nth-child(4){margin-left: -30px;}
.tdloading .cont:nth-child(5){margin-left: 70px;}
.tdloading .cont:nth-child(6){margin-left: 170px;}
.tdloading .cont:nth-child(7){margin-left: 270px;}
.tdloading .cont .item{position: absolute;width: 60px;height: 60px;top: 0;left: 0;background: white;color: #1da1e2;
	text-align: center;line-height: 60px;font-weight: 500;font-size: 30px;}
.tdloading .cont .i1{-webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(30px);
	-moz-transform: rotateX(0deg) rotateY(0deg) translateZ(30px);
	-ms-transform: rotateX(0deg) rotateY(0deg) translateZ(30px);
	transform: rotateX(0deg) rotateY(0deg) translateZ(30px);
	opacity: 1;border: 1px #1da1e2 solid;}
.tdloading .cont .i2{-webkit-transform: rotateX(0deg) rotateY(90deg) translateZ(30px);
	-moz-transform: rotateX(0deg) rotateY(90deg) translateZ(30px);
	-ms-transform: rotateX(0deg) rotateY(90deg) translateZ(30px);
	transform: rotateX(0deg) rotateY(90deg) translateZ(30px);
	opacity: 1;border: 1px #1da1e2 solid;}
.tdloading .cont .i3{-webkit-transform: rotateX(0deg) rotateY(90deg) translateZ(-30px);
	-moz-transform: rotateX(0deg) rotateY(90deg) translateZ(-30px);
	-ms-transform: rotateX(0deg) rotateY(90deg) translateZ(-30px);
	transform: rotateX(0deg) rotateY(90deg) translateZ(-30px);
	opacity: 1;border: 1px #1da1e2 solid;}
.tdloading .cont .i4{-webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(-30px);
	-moz-transform: rotateX(0deg) rotateY(0deg) translateZ(-30px);
	-ms-transform: rotateX(0deg) rotateY(0deg) translateZ(-30px);
	transform: rotateX(0deg) rotateY(0deg) translateZ(-30px);
	opacity: 1;border: 1px #1da1e2 solid;}
.tdloading .cont .i5{-webkit-transform: rotateX(90deg) rotateY(0deg) translateZ(30px);
	-moz-transform: rotateX(90deg) rotateY(0deg) translateZ(30px);
	-ms-transform: rotateX(90deg) rotateY(0deg) translateZ(30px);
	transform: rotateX(90deg) rotateY(0deg) translateZ(30px);
	opacity: 1;border: 1px #1da1e2 solid;}
.tdloading .cont .i6{-webkit-transform: rotateX(90deg) rotateY(0deg) translateZ(-30px);
	-moz-transform: rotateX(90deg) rotateY(0deg) translateZ(-30px);
	-ms-transform: rotateX(90deg) rotateY(0deg) translateZ(-30px);
	transform: rotateX(90deg) rotateY(0deg) translateZ(-30px);
	opacity: 1;border: 1px #1da1e2 solid;}
.ai{-webkit-animation: ai 3s linear infinite;-moz-animation: ai 3s linear infinite;-ms-animation: ai 3s linear infinite;
	animation: ai 3s linear infinite;}

/*round_trojan*/
.round_trojan{position: absolute;width: 100%;height: 100%;box-sizing: border-box;z-index: 10;cursor: url(../img/hand.cur),move;
	border-top: 0px solid transparent;}
.round_trojan_con{position: absolute;width: 800px;height: 800px;left: 50%;top: 50%;margin-top: -400px;margin-left: -400px;
	transform-style: preserve-3d;}
.items_con{position: absolute;width: 400px;height: 300px;left: 50%;top: 50%;margin-top: -200px;margin-left: -200px;
	transform-style: preserve-3d;pointer-events: none;}
.round_trojan_item{position: absolute;width: 100%;height: 100%;transform-style: preserve-3d;-webkit-user-select:none;transition: transform 0.5s;
	box-shadow: 2px 2px 2px 2px rgba(56, 78, 64, 0.3);/* backface-visibility: hidden; */}
/*�߳�Ϊl=400����˱������Բr=l/2/sin22.5����h=r*cos22.5=l/2/sin22.5*cos22.5=482.84*/
.round_trojan_item:nth-child(1){transform: rotateX(0deg) rotateY(0deg) translateZ(-482.84px);}
.round_trojan_item:nth-child(2){transform: rotateX(0deg) rotateY(45deg) translateZ(-482.84px);}
.round_trojan_item:nth-child(3){transform: rotateX(0deg) rotateY(90deg) translateZ(-482.84px);}
.round_trojan_item:nth-child(4){transform: rotateX(0deg) rotateY(135deg) translateZ(-482.84px);}
.round_trojan_item:nth-child(5){transform: rotateX(0deg) rotateY(180deg) translateZ(-482.84px);}
.round_trojan_item:nth-child(6){transform: rotateX(0deg) rotateY(225deg) translateZ(-482.84px);}
.round_trojan_item:nth-child(7){transform: rotateX(0deg) rotateY(270deg) translateZ(-482.84px);}
.round_trojan_item:nth-child(8){transform: rotateX(0deg) rotateY(315deg) translateZ(-482.84px);}

.inital_trojan{animation: inital_trojan 8s linear infinite;}
@media screen and (min-width: 510px) {
	._P{width: 320px !important;height: 568px !important;left: 50% !important;top: 50% !important;margin-left: -160px;margin-top: -284px;}
}